PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2024-07-21 06:31:42.215507');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2024-07-21 06:31:42.230821');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2024-07-21 06:31:42.242772');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'40','Matt (Mo@mo.mo)',3,'',11,1,'2024-07-22 08:44:56.755670');
INSERT INTO django_admin_log VALUES(2,'39','dana (dana@d.dxd)',3,'',11,1,'2024-07-22 08:44:56.764982');
INSERT INTO django_admin_log VALUES(3,'38','dana (dana@d.dd)',3,'',11,1,'2024-07-22 08:44:56.768679');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$720000$Az56EK7Q5PcudFYdRYUr9H$NRgpVu+t0PC5UKD1Hv0f2dFED1Ne23s+cKu3rcqkO1U=','2024-08-04 17:36:58.649480',1,'matt1226','','mattalbukaai@gmail.com',1,1,'2024-07-21 07:39:42.086905','');
INSERT INTO auth_user VALUES(2,'pbkdf2_sha256$720000$4wKZxyxpJwNL3NBm035aF8$pwyN/7hnhVpXoSJbRY9+VL2/BzRqaiVh79daTPV7tkY=','2024-08-15 13:41:12.521264',1,'Matt','','mohammadalbukaai@gmail.com',1,1,'2024-08-15 13:39:53.605174','');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('061r1r7fj2ml2e7u94cvvdyu6vxlx7kp','.eJxVjMsOwiAQRf-FtSHQ4SEu3fcbCDMMUjU0Ke3K-O_apAvd3nPOfYmYtrXGrfMSpywuQovT74aJHtx2kO-p3WZJc1uXCeWuyIN2Oc6Zn9fD_TuoqddvjcVoKoHYWAtGaaXB67Mt4AKBJqY0DAEQUkGDYMmx9-wUQ0ajcini_QHa9zgj:1sVRAy:gcXXQ8is-oEJV_8rcmffzOzkhQ5KTqvqZkLd2IGcWss','2024-08-04 07:40:12.397202');
INSERT INTO django_session VALUES('3c7fk96pkin83y92p6wyujj8ywuqjkr0','.eJxVjEEOwiAQRe_C2pCBQgGX7nsGMmUYqRqalHZlvLtt0oVu_3vvv0XEbS1xa3mJE4mrUOLyu42YnrkegB5Y77NMc12XaZSHIk_a5DBTft1O9--gYCt7naBnawi4s2yh45SNBewpeG-1opSCDaSBdFbATisGQg9ud5icISU-X-AWN8U:1safAA:k63s7cavBip8met4L_kwCH3s9CvTUfsCehw4dTiig6g','2024-08-18 17:36:58.653369');
INSERT INTO django_session VALUES('rxrdvr0ery1lh6rjbjmbvbf6zzycxrd9','.eJxVjEEOwiAQRe_C2hAdZACX7j0DYYZBqoYmpV0Z726bdKHb_977bxXTMte4dJnikNVFgTr8bpT4KW0D-ZHafdQ8tnkaSG-K3mnXtzHL67q7fwc19brWdCaPmByzy-INJmsCGlPYgA2GRMiyABA6PJKnsMrFO6aTK6EAoPp8Ae0gN_Q:1seaj2:Yt5f9YxPVqH049KmpmnyjehNCdQVnNriMShkcHw_P0w','2024-08-29 13:41:12.525153');
CREATE TABLE IF NOT EXISTS "authtoken_token" ("key" varchar(40) NOT NULL PRIMARY KEY, "created" datetime NOT NULL, "user_id" integer NOT NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "token_blacklist_blacklistedtoken" ("blacklisted_at" datetime NOT NULL, "token_id" bigint NOT NULL UNIQUE REFERENCES "token_blacklist_outstandingtoken" ("id") DEFERRABLE INITIALLY DEFERRED, "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT);
CREATE TABLE IF NOT EXISTS "token_blacklist_outstandingtoken" ("token" text NOT NULL, "created_at" datetime NULL, "expires_at" datetime NOT NULL, "user_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "jti" varchar(255) NOT NULL UNIQUE, "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT);
CREATE TABLE IF NOT EXISTS "account_emailconfirmation" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created" datetime NOT NULL, "sent" datetime NULL, "key" varchar(64) NOT NULL UNIQUE, "email_address_id" integer NOT NULL REFERENCES "account_emailaddress" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "account_emailaddress" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "verified" bool NOT NULL, "primary" bool NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "email" varchar(254) NOT NULL);
CREATE TABLE IF NOT EXISTS "django_site" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "domain" varchar(100) NOT NULL UNIQUE);
INSERT INTO django_site VALUES(1,'example.com','example.com');
CREATE TABLE IF NOT EXISTS "socialaccount_socialapp_sites" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "socialapp_id" integer NOT NULL REFERENCES "socialaccount_socialapp" ("id") DEFERRABLE INITIALLY DEFERRED, "site_id" integer NOT NULL REFERENCES "django_site" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "socialaccount_socialapp" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "provider" varchar(30) NOT NULL, "name" varchar(40) NOT NULL, "client_id" varchar(191) NOT NULL, "secret" varchar(191) NOT NULL, "key" varchar(191) NOT NULL, "provider_id" varchar(200) NOT NULL, "settings" text NOT NULL CHECK ((JSON_VALID("settings") OR "settings" IS NULL)));
CREATE TABLE IF NOT EXISTS "socialaccount_socialtoken" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "token" text NOT NULL, "token_secret" text NOT NULL, "expires_at" datetime NULL, "account_id" integer NOT NULL REFERENCES "socialaccount_socialaccount" ("id") DEFERRABLE INITIALLY DEFERRED, "app_id" integer NULL REFERENCES "socialaccount_socialapp" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "socialaccount_socialaccount" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "provider" varchar(200) NOT NULL, "uid" varchar(191) NOT NULL, "last_login" datetime NOT NULL, "date_joined" datetime NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "extra_data" text NOT NULL CHECK ((JSON_VALID("extra_data") OR "extra_data" IS NULL)));
CREATE TABLE IF NOT EXISTS "django_rest_passwordreset_resetpasswordtoken" ("created_at" datetime NOT NULL, "key" varchar(64) NOT NULL UNIQUE, "ip_address" char(39) NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_agent" varchar(512) NOT NULL);
CREATE TABLE IF NOT EXISTS "api_recommendation" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NOT NULL, "category" varchar(255) NOT NULL, "type" varchar(255) NOT NULL, "protein" real NOT NULL, "fat" real NOT NULL, "fiber" real NOT NULL, "cholesterol" real NOT NULL, "carbs" real NOT NULL, "low_fat" bool NOT NULL, "low_carb" bool NOT NULL, "high_protein" bool NOT NULL, "no_sugar" bool NOT NULL, "wheat_free" bool NOT NULL, "egg_free" bool NOT NULL, "soy_free" bool NOT NULL, "image" varchar(100) NULL, "recipe" text NOT NULL, "total_calories" real NOT NULL);
INSERT INTO api_recommendation VALUES(1,'Spaghetti with Cherry Tomatoes and Spinach','Main','Dinner',12.0,5.0,3.0,10.0,30.0,0,0,0,0,0,0,0,'pexels-fotios-photos-1279330.jpg','1. Cook the spaghetti.\n2. Saut├⌐ cherry tomatoes and spinach.\n3. Mix with spaghetti and season.\n4. Serve warm.',527.0);
INSERT INTO api_recommendation VALUES(2,'Salmon and Avocado Toast','Snack','Breakfast',15.0,10.0,6.0,20.0,25.0,1,0,1,0,0,0,0,'pexels-geraud-pfeiffer-6605207.jpg','1. Toast the bread.\n2. Spread avocado on toast.\n3. Add smoked salmon slices.\n4. Garnish with microgreens.',436.0);
INSERT INTO api_recommendation VALUES(3,'Grilled Chicken Wings','Main','Dinner',20.0,15.0,0.5,100.0,5.0,0,0,1,0,0,0,0,'pexels-harry-dona-2338407.jpg','1. Marinate the chicken wings.\n2. Grill until cooked through.\n3. Serve with a side of dipping sauce.',383.0);
CREATE TABLE IF NOT EXISTS "api_user" ("name" varchar(100) NOT NULL, "email" varchar(254) NOT NULL UNIQUE, "password" varchar(255) NOT NULL, "gender" varchar(10) NOT NULL, "marital_status" varchar(20) NOT NULL, "height" real NOT NULL, "birthdate" date NOT NULL, "family_history" bool NOT NULL, "profile_picture" varchar(255) NULL, "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "last_login" datetime NULL, "otp" varchar(6) NULL, "otp_expiration" datetime NULL, "created_at" datetime NOT NULL);
INSERT INTO api_user VALUES('John Doe','john@example.com','password123','Male','Single',175.0,'1990-01-01',1,'/path/to/profile.jpg',1,NULL,NULL,NULL,'2024-07-21 06:48:30.783346');
INSERT INTO api_user VALUES('John Doe','john@example96.com','pbkdf2_sha256$390000$0r37Uwt7IXy2Be2m3E7aoU$tbWyRcdP/DOeDEeHPgefYADHgPV+7YWXX7WF94fUj4s=','Male','Single',175.0,'1990-01-01',1,'/path/to/profile.jpg',2,NULL,NULL,NULL,'2024-07-21 06:56:09.426056');
INSERT INTO api_user VALUES('John Doe','john@examdddple.com','pbkdf2_sha256$390000$BSOvBoooCmjVXVTq498Sni$eWw+0WXRmjSIb0bIx3PRoSydGwM7lDUShys0ssybPIg=','Male','Single',175.0,'1990-01-01',1,'/path/to/profile.jpg',3,NULL,NULL,NULL,'2024-07-21 07:04:28.054897');
CREATE TABLE IF NOT EXISTS "api_customizations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "allergies" text NOT NULL CHECK ((JSON_VALID("allergies") OR "allergies" IS NULL)), "daily_calories_max" integer NOT NULL, "diets_followed" text NOT NULL CHECK ((JSON_VALID("diets_followed") OR "diets_followed" IS NULL)), "meals_per_day" text NOT NULL CHECK ((JSON_VALID("meals_per_day") OR "meals_per_day" IS NULL)), "user_id" integer NOT NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "max_fat" integer NOT NULL, "max_fiber" integer NOT NULL, "max_protein" integer NOT NULL, "max_carbs" integer NOT NULL, "created_at" datetime NOT NULL);
INSERT INTO api_customizations VALUES(1,'["gluten_free"]',2000,'["low_fat"]','["breakfast", "lunch"]',1,30,50,50,0,'2024-07-21 07:16:04.649164');
INSERT INTO api_customizations VALUES(2,'["soy_free", "gluten_free"]',2200,'["low_fat", "no_sugar"]','["breakfast", "lunch", "dinner"]',49,0,0,0,0,'2024-07-22 11:10:45.512521');
INSERT INTO api_customizations VALUES(3,'["low-fat", "egg-free"]',2000,'["low_fat, breakfast"]','["Dinner", "Lunch"]',1,0,0,50,0,'2024-08-03 06:21:56.968949');
CREATE TABLE IF NOT EXISTS "api_meal" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "number" integer NOT NULL, "name" varchar(100) NOT NULL, "quantity" real NOT NULL, "calories" real NOT NULL, "carbs" real NOT NULL, "fats" real NOT NULL, "fiber" real NOT NULL, "protein" real NOT NULL, "user_id" integer NOT NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "cholesterol" real NOT NULL, "created_at" datetime NOT NULL);
INSERT INTO api_meal VALUES(1,1,'Chicken Salad',150.0,300.0,30.0,10.0,5.0,25.0,49,0.0,'2024-07-22 11:10:45.746552');
INSERT INTO api_meal VALUES(2,1,'Grilled Chicken Salad',250.0,350.0,20.0,15.0,5.0,30.0,1,0.0,'2024-07-31 13:57:59.098728');
INSERT INTO api_meal VALUES(3,2,'Grilled Chicken Salad',250.0,350.0,20.0,15.0,5.0,30.0,1,0.0,'2024-07-31 13:58:12.163829');
CREATE TABLE IF NOT EXISTS "api_physicalrecord" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "stress_level" integer NULL, "user_id" integer NOT NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "duration" real NOT NULL, "type" varchar(50) NULL, "created_at" datetime NOT NULL);
INSERT INTO api_physicalrecord VALUES(1,5,49,0.0,'Gym','2024-07-22 11:10:45.664364');
INSERT INTO api_physicalrecord VALUES(2,3,1,30.0,'Cardio','2024-08-01 02:51:47.068597');
INSERT INTO api_physicalrecord VALUES(3,7,43,30.0,'Cardio','2024-08-01 02:52:33.496870');
CREATE TABLE IF NOT EXISTS "api_healthrecord" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "blood_glucose" integer NULL, "blood_pressure" integer NULL, "bmi" real NULL, "diabetes_risk" real NOT NULL, "created_at" datetime NOT NULL, "user_id" integer NOT NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "weight" real NULL);
INSERT INTO api_healthrecord VALUES(49,180,150,27.5,0.0,'2024-04-01 10:00:00',43,85.0);
INSERT INTO api_healthrecord VALUES(50,175,148,27.30000000000000071,0.0,'2024-04-05 10:00:00',43,84.5);
INSERT INTO api_healthrecord VALUES(51,170,155,27.19999999999999929,0.0,'2024-04-10 10:00:00',43,84.0);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',101);
INSERT INTO sqlite_sequence VALUES('django_admin_log',13);
INSERT INTO sqlite_sequence VALUES('django_content_type',25);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "token_blacklist_outstandingtoken_user_id_83bc629a" ON "token_blacklist_outstandingtoken" ("user_id");
CREATE INDEX "account_emailconfirmation_email_address_id_5b7f8c58" ON "account_emailconfirmation" ("email_address_id");
CREATE UNIQUE INDEX "account_emailaddress_user_id_email_987c8728_uniq" ON "account_emailaddress" ("user_id", "email");
CREATE UNIQUE INDEX "unique_verified_email" ON "account_emailaddress" ("email") WHERE "verified";
CREATE INDEX "account_emailaddress_user_id_2c513194" ON "account_emailaddress" ("user_id");
CREATE INDEX "account_emailaddress_email_03be32b2" ON "account_emailaddress" ("email");
CREATE UNIQUE INDEX "unique_primary_email" ON "account_emailaddress" ("user_id", "primary") WHERE "primary";
CREATE UNIQUE INDEX "socialaccount_socialapp_sites_socialapp_id_site_id_71a9a768_uniq" ON "socialaccount_socialapp_sites" ("socialapp_id", "site_id");
CREATE INDEX "socialaccount_socialapp_sites_socialapp_id_97fb6e7d" ON "socialaccount_socialapp_sites" ("socialapp_id");
CREATE INDEX "socialaccount_socialapp_sites_site_id_2579dee5" ON "socialaccount_socialapp_sites" ("site_id");
CREATE UNIQUE INDEX "socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq" ON "socialaccount_socialtoken" ("app_id", "account_id");
CREATE INDEX "socialaccount_socialtoken_account_id_951f210e" ON "socialaccount_socialtoken" ("account_id");
CREATE INDEX "socialaccount_socialtoken_app_id_636a42d7" ON "socialaccount_socialtoken" ("app_id");
CREATE UNIQUE INDEX "socialaccount_socialaccount_provider_uid_fc810c6e_uniq" ON "socialaccount_socialaccount" ("provider", "uid");
CREATE INDEX "socialaccount_socialaccount_user_id_8146e70c" ON "socialaccount_socialaccount" ("user_id");
CREATE INDEX "django_rest_passwordreset_resetpasswordtoken_user_id_e8015b11" ON "django_rest_passwordreset_resetpasswordtoken" ("user_id");
CREATE INDEX "api_customizations_user_id_ce4f7bb6" ON "api_customizations" ("user_id");
CREATE INDEX "api_meal_user_id_6f879b2d" ON "api_meal" ("user_id");
CREATE INDEX "api_physicalrecord_user_id_ecca045f" ON "api_physicalrecord" ("user_id");
CREATE INDEX "api_healthrecord_user_id_51f84dbd" ON "api_healthrecord" ("user_id");
COMMIT;
